{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Reestablecer Contraseña{% endblock %}

{% block controlpanel %}
    <section id="uiuser">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-default uiuser-panel">
                        <div class="panel-body">
                            <h1 class="page-header">Restablecer Contraseña</h1>
                            <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>