{% extends 'UniUserBundle:Base:layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Registro de Usuarios{% endblock %}

{% block user %}
    <section id="uiuser">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-default panel-default-fade">
                        <div class="panel-body">
                            <h1 class="page-header">Registro de Usuarios</h1>
                            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                            {% if targetUrl %}
                            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
