{% block about %}
    {% trans_default_domain 'UniPageBundle' %}
     <section id="about">
         <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="section-header about-title">{{ user.abouttitle }}</h1>
                </div>
                <div class="col-md-12 text-center">
                    <p class="about-content">{{ user.aboutcontent }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}