{% block footer %}
    <footer id="footer" class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>uniPage ha sido desarrollado por uniSign utilizando el framework Symfony</p>
                <p>2017 - Valparaíso, Chile</p>
            </div>
        </div>
    </footer>
{% endblock %}