{% block header %}
    <header class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1>uniPage</h1> 
                    <p>uniPage es un sistema flexible y r치pido para crear visibilidad y presencia para empresas en internet</p>
                    <p>Nuestros recursos est치n optimizados para un despliegue de informaci칩n eficiente, ideal para conexiones m칩biles</p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}