{% block header %}
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron jumbotron-custom">
                        <h1>uniPage es un sistema flexible y r치pido para crear visibilidad y presencia para empresas en internet</h1>
                        <h2>Nuestros recursos est치n optimizados para un despliegue de informaci칩n eficiente, ideal para conexiones m칩biles</h2>
                        <p><a type="button" href="#about" class="btn btn-default header-btn page-scroll">header.calltoaction</a></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}