{% block main %}
    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-header">
                        {% if user.maintitle %}<h1 class="main-title">{{ user.maintitle|raw }}</h1>{% endif %}
                        {% if user.mainsubtitle %}<h2 class="main-subtitle">{{ user.mainsubtitle|raw }}</h2>{% endif %}
                        {% if 'about' in user.modules %}{% if user.maincalltoaction %}<a type="button" href="#about" class="btn btn-primary btn-lg main-calltoaction page-scroll">{{ user.maincalltoaction|raw }}</a>{% endif %}{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}