{% block main %}
    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ user.maintitle }}</h1>
                    <h2>{{ user.mainsubtitle }}</h2>
                    <p><a type="button" href="#about" class="btn btn-default btn-primary header-btn page-scroll">{{ user.maincalltoaction }}</a></p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}