section#contact {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://static.pexels.com/photos/196656/pexels-photo-196656.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
    .contact-panel {
        background-color: rgba(51,122,183,0.8);
    }
}