section#contact {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://static.pexels.com/photos/487247/pexels-photo-487247.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 80px 0;
}