@import "../../../../../vendor/bower_components/bootstrap/less/navbar.less";
.navbar-scroll { 
    background: @gray-darker;
    border-color: transparent;
    a {
        .transition(all .3s ease);
    }
    @media (min-width: 768px) {
        background: transparent;
        border-color: transparent;
        padding: 25px 0;
    }
    .navbar-brand {
        &:hover,
        &:focus {
            color: @brand-primary;
        }
    }
}

.affix {
    background: #333;
    border-color: transparent;
    transition: .3s;
    padding: 0;
    @media (min-width: 768px) {
        padding: 10px 0;
    }
}