{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Reestablecer Contraseña{% endblock %}

{% block controlpanel %}
    <section class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="page-header">Restablecer Contraseña</h1>
                <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheet %}
    <style type="text/css">
        section {
            padding: 80px 0px;
        }
    </style>
{% endblock %}